<ion-header>
  <ion-navbar>
    <ion-title>
      Sprout 2018
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngFor="let answer of answers">
    <p class="line-breaker">
      {{answer}}
  </div>

  <div class="message-wrap">
    <div *ngFor="let conv of conversation">
      <p class="message"
        [class.right]=" conv.from === user" 
        [class.left]=" conv.from === bot">
        {{conv.text}}
    </div>
  </div>


</ion-content>

<ion-footer no-border>
  <div class="input-wrap">
    <button ion-button clear icon-only item-right (click)="switchEmojiPicker()">
      <ion-icon name="md-happy"></ion-icon>
    </button>
    <textarea placeholder="Text Input" [(ngModel)]="question" ></textarea>
    <button ion-button clear icon-only item-right (click)="ask(question)">
      <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
    </button>
  </div>
</ion-footer>